@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap');

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}

.PomodoroClock {
  border: 2px solid black;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: DeepSkyBlue;
  border-radius: 30px;

  .PomodoroClock-settings {
    display: flex;
    justify-content: center;
  }

  .PomodoroClock-clock {
    text-align: center;
  }

  .PomodoroClock-controls > i {
    margin: 0 5px;
  }
}

.SetLength {
  margin: 10px;
  text-align: center;

  h2 {
    color: firebrick;
  }

  span {
    font-weight: bold;
    font-size: 1.3rem;
  }

  button {
    border: none;
    background-color: deepskyblue;
  }

  button:focus {
    outline: none;
    border-bottom: 2px solid #fff;
  }

  i {
    font-size: 1.3rem;
    margin: 0 10px;
  }
}